{% extends "core/base.html" %}
{% load static %}

{% block title %}Detalhes do Cadastro{% endblock %}
{% block nav_cadastros %}active{% endblock %}

{% block content %}
                <h1>Cadastro: {{ cadastro.nome }}</h1>
                <section class="table-card">
                    <div class="table-card__body">
                        <table>
                            <tbody>
                                <tr><th>Nome</th><td>{{ cadastro.nome }}</td></tr>
                                <tr><th>Nome social</th><td>{{ cadastro.nome_social }}</td></tr>
                                <tr><th>Data de cadastro</th><td>{{ cadastro.data_cadastro|date:"d/m/Y" }}</td></tr>
                                <tr><th>Status</th><td>{{ cadastro.get_status_display }}</td></tr>
                                <tr><th>CPF</th><td>{{ cadastro.cpf_numero }}</td></tr>
                                <tr><th>RG</th><td>{{ cadastro.rg_numero }}</td></tr>
                                <tr><th>Telefone</th><td>{{ cadastro.telefone_numero }}</td></tr>
                                <tr><th>E-mail</th><td>{{ cadastro.email_contato }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <div class="actions">
                    <a class="primary-button" href="/home/cadastros/{{ cadastro.id }}/editar">Editar</a>
                    <a class="ghost-button" href="/home/cadastros">Voltar</a>
                </div>
{% endblock %}
